body {
  /*margin: 0px;*/
  background-image: url('../images/Sunset.0001.jpg');
  background-attachment: fixed;
  background-size: cover;
}

.artwork {
  height: 300px;
  background-image: url('../images/Sunset.0001.jpg');
  background-size: cover;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/*.container {
  margin-left: 10%;
  margin-right: 10%;
}

.content {
  margin-top: 20px;
}

div.module {
  border: 1px;
  border-color: #222222;
}

div.module-header {
  min-height: 30px;
  padding: 10px;
  background-color: #005b96;
}*/
